{
	width: 100%;
}

.header {
	text-align: center;
	font-weight: 600;
	color: #fff;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}

.info {
	display: inline-block;
	border: 15px #2447B2 solid;
	border-radius: 5px;
	min-height: 300px;
	background-color: #506CC1;
}

.row {
	padding-left: 50px;
	padding-right: 50px;
}

.fixed-bg {
	background-image: url(polygons.png);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.shadow {
	color: #fff;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}


.large-image {
	max-width: 800px;
	left: 0;
	top: 0;
	padding: 10px;
	border: 1px solid #00000;
	background-color: rgba(255,255,255,0.5);
	opacity: 1;
	margin: 5px;
}

.parallax-container {
	height: 500px;
}
/*body {
/*background: transparent;
background-color: rgba(0, 0, 0, 1);
background-image: url(polygons.png);
padding: 0;
margin: 0;
width:100%;
height:100%;
}
 */
