table {
	background: rgba(0,0,0,0.5);
	color: white;
}

.parallax-container {
	height: 2000px;
}


@media (max-width: 1000px) {
	.truncate2 {
	  width: 100px;
	    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}

	.row {
		padding: 10px;
	}

	tr {
		max-width: 100px;
	}

}
@media (min-width: 1001px) {
	.truncate2 {
	  width: 100px;
	  word-wrap:break-word;
	}
}
